<div id="list-profesor">
	<div class="container">
		<h1>Lista de profesores</h1>
		<%# lista de profesores sacados de la variable array con un boton al lado que diga edita %>
			<% for( let index=0; index < array.length; index++ ) { %>
				<% console.log(array) %>
					<disabled-input label="hello"></disabled-input>

					<% } %>
						<!-- Enlaces a Bootstrap y jQuery (asegúrate de tener estos archivos en tu proyecto) -->

	</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>