<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/agregar_profesor_style.css">
    <title>Agregar Profesor</title>
</head>
<body>

<div class="container">
    <h1>Agregar Profesor</h1>

    <div class="select-section">
        <label for="professors">Seleccione:</label>
        <select id="professors" onchange="updateForm()">
            <option value="existing">Profesor Existente</option>
            <option value="new">Nuevo</option>
        </select>
    </div>

    <div id="existingProfessorForm" class="form-section hidden">
        <label for="existingProfessorSelect">Profesor Actual:</label>
        <select id="existingProfessorSelect">
            <!-- Opciones de profesores actuales -->
        </select>
        <div id="buttonGroup" class="button-group hidden">
            <button id="editButton" onclick="editProfessor()">Editar</button>
            <button id="deleteButton" onclick="confirmDelete()">Eliminar</button>
        </div>
    </div>

    <div id="newProfessorForm" class="form-section hidden">
        <label for="newProfessorName">Nuevo Profesor:</label>
        <input type="text" id="newProfessorName">
        <button id="addNewProfessorButton" onclick="addNewProfessor()">Agregar</button>
    </div>

    <div id="editProfessorForm" class="form-section hidden">
        <label for="editedProfessorName">Editar Profesor:</label>
        <input type="text" id="editedProfessorName">
        <button id="acceptChangesButton" onclick="acceptChanges()">Aceptar Cambios</button>
    </div>

    <div class="menu">
        <button class="home-button" onclick="goToMainMenu()">Menú Principal</button>
    </div>
</div>

<div class="mensaje-creacion" id="mensajeCreacion">
    <p>Mensaje de creación</p>
    <button onclick="closeMensaje()">Cerrar</button>
</div>

<script src="/js/agregar_profesor.js"></script>
</body>
</html>
