<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuarios</title>
  <link rel="stylesheet" href="/css/pagina_principalAdm.css">
</head>
<body>
  <div class="container">
    <header></header>
    <section class="content">
      <div class="left-column">
        <div class="dynamic-section">
          <h2>Registrar Usuario</h2>
          <ul>
            <li>* Registros</li>
            <li>* Planificador Docente</li>
            <li>* Profesores</li>
            <li>* Estudiantes</li>
          </ul>
          <button class="larger-button">Registrar</button>
        </div>
      </div>
      <div class="right-column">
        <div class="review-section">
          <h2>Revisar Usuarios</h2>
          <ul>
            <li>* Comprobar</li>
            <li>* Modificar Usuarios</li>
            <li>* Registros</li>
            <li>* Actividad</li>
          </ul>
          <button class="larger-button">Revisar</button>
        </div>
      </div>
    </section>
    <div class="login-button">
      <a href="url_de_inicio_de_sesion" class="round-button" title="Haz clic para iniciar sesión">Inicio de Sesión</a>
    </div>
  </div>
</body>
</html>
