<div id="login" v-cloak>
  <div class="formulario container-fluid pt-5 pb-5">
    <h1 class="text-center">Inicio de sesión</h1>
    <div style="max-width: 450px;" class="mx-auto">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group username">
          <input type="email" class="form-control" placeholder="Nombre de usuari" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Nombre de usuario</div>
        </div>
        <div class="form-group username">
          <input type="password" class="form-control" placeholder="Contraseña" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password">Contraseña</div>
        </div>
        <cloud-error v-if="cloudError==='badCombo'">The credentials you entered are not associated with an account. Please check your username and/or password and try again.</cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-login">Registro</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>