<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login_Sowfare</title>
    <link rel="stylesheet" href="/css/login_style.css" />
  </head>
  <body>
    <div class="formulario">
      <h1>Administrador</h1>
      <form method="post" action="/tu/ruta/de/autenticacion">
        <div class="username">
          <input type="text" required />
          <label>Nombre de usuario</label>
        </div>
        <div class="username">
          <input type="password" required />
          <label>Contraseña</label>
        </div>
        <input type="submit" value="Iniciar sesión" />

        <div class="registrarse">
          Cambiar vista a <a href="login.html">Inicio de sesion</a>
        </div>
      </form>
    </div>
  </body>
</html>