.container {
    text-align: center;
}

.card {
    margin-bottom: 20px;
    border: none;
    /* Quita los bordes de las tarjetas */
    border-radius: 15px;
    /* Añade bordes redondeados a las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Añade sombra a las tarjetas */
}

.btn-primary {
    background-color: #c0392b !important;
    color: #fff !important;
    border: none !important;
    /* Quita los bordes de los botones */
    border-radius: 10px;
    /* Añade bordes redondeados a los botones */
    transition: background-color 0.3s;
    /* Añade transición de color al pasar el ratón */
}

.btn-primary:hover {
    background-color: #a93226;
    /* Cambia el color al pasar el ratón */
}

.btn-secondary {
    background-color: #c0392b;
    color: #fff;
    border: none;
    /* Quita los bordes de los botones */
    border-radius: 10px;
    /* Añade bordes redondeados a los botones */
    transition: background-color 0.3s;
    /* Añade transición de color al pasar el ratón */
}

.btn-secondary:hover {
    background-color: #a93226;
    /* Cambia el color al pasar el ratón */
}

/* Estilo para el botón de regreso al login */
.btn-regresar {
    margin-top: 20px;
    /* Añade margen superior */
    margin-right: 20px;
    /* Añade margen derecho */
    border-radius: 10px;
    /* Añade bordes redondeados */
}