body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(120deg, #AF601A, #F1948A);
    color: #fff;
    position: relative; /* Para posicionar el botón de inicio de sesión correctamente */
}

header {
    text-align: center;
    background-color: transparent;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-grow: 1;
    margin: 20px;
}

.left-column, .right-column {
    flex: 1.8; /* Aumentando el ancho de las columnas */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dynamic-section, .review-section {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px; /* Aumentando el padding para hacer las secciones más grandes */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

h2 {
    color: #2c3e50;
    font-size: 28px; /* Aumentando el tamaño de la letra */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px; /* Aumentando el espaciado entre elementos de la lista */
    display: flex;
    align-items: center;
    font-size: 24px; /* Aumentando el tamaño de la letra */
}

li::before {
    content: '\2713';
    color: #2ecc71;
    font-size: 36px; /* Aumentando el tamaño de la palomita */
    margin-right: 15px;
}

a {
    background-color: #e74c3c;
    color: #fff;
    padding: 25px 50px; /* Aumentando el tamaño del botón */
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50px;
    margin-top: 40px; /* Aumentando el espacio superior */
}

button.larger-button {
    font-size: 28px; /* Aumentando el tamaño de la letra del botón más grande */
}

.login-button {
    position: absolute;
    bottom: 40px; /* Aumentando la separación desde la parte inferior */
    right: 40px; /* Aumentando la separación desde la parte derecha */
}

.round-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 20px 40px; /* Aumentando el tamaño del botón */
    border: none;
    cursor: pointer;
    font-size: 24px; /* Aumentando el tamaño de la letra */
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

